$grey: #7e7e7e;

.comment {
  margin: 10px;

  .comment-user-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $grey;

    p {
      margin: 0;
    }

    svg {
      width: 20px;
      height: 20px;
      margin: 10px;
      fill: $grey;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .comment-text {
    width: 100%;
    text-align: left;
    margin-top: 0;
  }

  .replies {
    margin-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 1280px) {
  .comment {
    .comment-user-info {
      p {
        font-size: 14px;
      }

      svg {
        margin: 5px;
      }
    }

    .comment-text {
      font-size: 14px;
    }
  }
}
